<body>

<section class ="gameplayrow">
  <section class ="statusbox">
      <div data-controller="menu">
        <h1>Current player:</h1>
        <p><%= @current_player.name%> - available actions:</p>
        <% @current_player['available_actions'].each do |option| %>
          <button class = "floatybutton" data-action="click->menu#<%="#{option}"%>"><%="#{option}"%></button>
        <% end %><%= button_to "pass", pass_pvp_player_path(@current_player), method: :get, class: "floatybutton"  %> <%= button_to "concede", concede_pvp_player_path(@current_player), method: :get, class: "floatybutton", style: "width: auto;"%>
      <div class = "horizontal_padding"></div>
      <div data-controller="menu" id = "summon" class="summon">
        <div class = "summon_wrapper">
          <%= form_with model: SummonedMinion.new do |form| %>
            <%= form. hidden_field :game_id, value: "#{@current_player.game_id}"%>
            <%= form.hidden_field :owner_id, value: "#{@current_player.id}" %>
            <%= form.hidden_field :owner, value: "#{@current_player.name}" %>
            <% MinionStat.all.each do |minion|%>
              <%= form.radio_button :minion_type, "#{minion['minion_type']}" %>
              <%= form.label :minion_type, "#{minion['minion_type']}" %>
            <% end %>
            <%= form.label :x_position, "Position X,Y" %>
            <%= form.number_field :x_position, in: 0..7, step: 1 %>
            <%= form.number_field :y_position, in: 0..7, step: 1 %>
            <%= form.submit "submit"%>
          <% end %>
          </div>
        </div>
    </div>
    </section>

    <section class = "box_with_board_log_and_player">
    <div class ="boardcontainer">
      <div>
        <table  class = "board">
            <% BoardState.arrayify_for_rendering(game_id: @game.id).each_with_index do |line, index|%>
              <tr>
                <% line.each do |field| %>
                    <td>
                      <h1 class="field"
                      id=<%= field.id%>
                      data-controller="field"
                      data-action="dragstart->field#onDragStart dragover->field#onDragOver dragenter->field#onDragEnter drop->field#onDrop dragend->field#onDragEnd"
                      occupant_id="<%= field.occupant_id %>"
                      field_id="<%= field.id%>"
                      style="--position: <%= field.offset%>; --color: <%= field.occupied && !field.obstacle ? PvpPlayers.find(SummonedMinion.find(field.occupant_id).owner_id).color : 'rgba(255, 0, 0, 0)' %>;">
                      <span class="tooltiptext"><%= "[#{field.x_position},#{field.y_position}]"%></span>
                      <% if field.occupant_id != nil %>
                        <div class="minion" data-controller="minion" data-action="click->minion#getId"  >
                        <%= image_tag MinionStat.find_by(minion_type: field.occupant_type).icon, class: "minion_image",  data: { occupant_id: "#{field.occupant_id}", field_id: "#{field.id}" ,x_position: "#{field.x_position}", y_position: "#{field.y_position}"}%>
                        </div>
                      <% end %>
                      </h1>
                    </td>
                <% end %>
              </tr>
            <% end %>
        </table>
      </div>
      <section class = "innerpadding"></section>
      <div class = "combatlog">
        <% EventLog.where(game_id: @game.id).order("created_at DESC").each do |line|%>
          <div data-controller= "combatlog" class = "message"><%=line['event']%></div>
        <% end %>
      </div>
    </div>
    <div class = "players_in_game_display">
    <table class = "playerlist">
            <% PvpPlayers.where(game_id: @game.id).sort { |a,b| a.id <=> b.id }.each do |player| %>
            <td class = "player_column">
              <p class="name_text" style= "--color: <%= player.color%>;"><%= "#{player.name} MANA:#{player.mana}/#{player.max_mana}" %></p>
              <% SummonedMinion.where("owner_id = ?", player.id).each do |minion|%>
              <li class="smallcenteredtext"><%="#{minion.minion_type}, @[#{minion.x_position},#{minion.y_position}] Health: #{minion.health}/#{MinionStat.find_by(minion_type: minion.minion_type).health}"%></li>
              <%end%>
            </td>
            <% end %>
    </table>
  </div>
    </section>
  <section class = "innerpadding"></section>

    <section class="padding"></section>
  </section>
  <section>

  </section>
</body>



