<body>
<div class = "upperbar">
<button><%= link_to "Reset Board", "/reset"%></button>
<button><%= link_to "Add Player", "/add_player"%></button>
<button><%= link_to "Remove Player", "/remove_player"%></button>
</div>
<section class ="gameplayrow">
<section class ="statusbox">
    <div class ="minionsandoptions">
      <table class = "playerlist">
        <% PvpPlayers.all.sort { |a,b| a.id <=> b.id }.each do |player| %>
        <td class = "player_column">
          <p class="centred_text"><%= "#{player.name} MANA:#{player.mana}/#{player.max_mana}" %></p>
          <p class="centred_text"><% SummonedMinion.where("owner_id = ?", player.id).each do |minion|%></p>
          <li class="smallcenteredtext"><%="#{minion.minion_type}, @[#{minion.x_position},#{minion.y_position}] Health: #{minion.health}/#{MinionStat.find_by(minion_type: minion.minion_type).health}"%></li>
        </td>
          <%end%>
        <% end %>
      </table>
    </div>
    <div>
      <h1>Current player:</h1>
      <p><%= @current_player['name']%></p>
        <% @current_player['available_actions'].each do |option| %>
      <button><%= option%></button>
      <% end %>
    </div>
  </section>
  <section class ="boardcontainer">
    <div>
      <table class = "board">
          <% @board.render_board.each_with_index do |line, index|%>
            <tr>
              <% line.each do |field| %>
                  <td>
                    <h1 data-controller="position" data-action="click->position#greet" address="<%= field.make_json %>" class="field" style="--position: <%= field.offset%>">
                    <span class="tooltiptext"><%= field.position.to_a%></span>
                    <% if field.occupied? %>
                      <%= image_tag field.occupant.icon,  class: "minion" %>
                    <% end %>
                    </h1>
                  </td>
              <% end %>
            </tr>
          <% end %>
      </table>
    </div>
  </section>
  <section class = "innerpadding"></section>
  <section class = "combatlog">
  <% EventLog.all.each do |line|%>
    <h1><%=line['event']%></h1>
  <% end %>
  </section>
  <section class = "padding"></section>
  </section>

  <div class = "summon">
    <%= form_with model: SummonedMinion.new do |form| %>
      <%= form.hidden_field :owner_id, value: "#{@current_player.id}" %>
      <% MinionStat.all.each do |minion|%>
        <%= form.radio_button :minion_type, "#{minion['minion_type']}" %>
        <%= form.label :minion_type, "#{minion['minion_type']}" %>
      <% end %>
      <%= form.label :x_position, "Position X,Y" %>
      <%= form.number_field :x_position, in: 0..@board.upper_limit, step: 1 %>
      <%= form.number_field :y_position, in: 0..@board.upper_limit, step: 1 %>
      <%= form.submit "submit"%>
    <% end %>
  </div>

  <div class = "move">
    <% SummonedMinion.where("owner_id = ?", @current_player.id).each do |minion|%>
      <%= form_with model: minion do |form| %>
        <%= form.hidden_field :owner_id, value: "#{@current_player.id}" %>
        <%= form.label :x_position, "Position X,Y for #{minion.minion_type} at" %>
        <%= form.number_field :x_position, in: 0..@board.upper_limit, step: 1 %>
        <%= form.number_field :y_position, in: 0..@board.upper_limit, step: 1 %>
        <%= form.submit "submit"%>
      <% end %>
    <% end %>
  </div>

  <div class = "attack">
    <% SummonedMinion.where("owner_id = ? and can_attack = ?", @current_player.id, true).each do |minion|%>
      <%= form_with url: update_attack_summoned_minion_path(id: minion['id']) do |form| %>
      <%= form.hidden_field :minion_type, value: "#{minion['minion_type']}" %>
        <% @game.find_object_from_x_y_coordinates(minion['x_position'],minion['y_position']).find_db_entries_of_enemies_in_range.each do |target|%>
          <%= form.hidden_field :target_id, value: "#{target['id']}" %>
          <%= form.radio_button :minion_target, "#{target}" %>
          <%= form.label :minion_target, "#{target['minion_type']} at #{target['x_position']},#{target['y_position']}" %>
        <% end %>
        <%= form.submit "submit"%>
      <% end %>
    <% end %>
  </div>

</body>



