<body>
<div class = "upperbar">
<button><%= link_to "Reset Board", "/reset"%></button>
<button><%= link_to "Add Player", "/add_player"%></button>
<button><%= link_to "Remove Player", "/remove_player"%></button>
</div>
<section class ="gameplayrow">
<section class ="statusbox">
    <div class ="minionsandoptions">
      <table class = "playerlist">
        <% @game.players.sort_by {|player| player.name}.each do |player| %>
        <td class = "player_column">
          <p class="centred_text"><%= "#{player.name} MANA:#{player.manapool.current}" %></p>
          <p class="centred_text"><% player.minions.each do |minion|%></p>
          <li class="smallcenteredtext"><%=minion.status%></li>
        </td>
          <%end%>
        <% end %>
      </table>
    </div>
    <div>
      <h1>Current player:</h1>
      <p><%= @current_player.name%></p>
      <% @current_player.available_options.each do |option| %>
      <button><%= option%></button>
      <% end %>
    </div>
  </section>
  <section class ="boardcontainer">
    <div>
      <table class = "board">
          <% @board.render_board.each_with_index do |line, index|%>
            <tr>
              <% line.each do |field| %>
                  <td>
                    <h1 data-controller="position" data-action="click->position#greet" address="<%= field.make_json %>" class="field" style="--position: <%= field.offset%>">
                    <span class="tooltiptext"><%= field.position.to_a%></span>
                    <% if field.occupied? %>
                      <%= image_tag field.occupant.icon,  class: "minion" %>
                    <% end %>
                    </h1>
                  </td>
              <% end %>
            </tr>
          <% end %>
      </table>
    </div>
  </section>
  <section class = "innerpadding"></section>
  <section class = "combatlog">
  <% EventLog.all.each do |line|%>
    <h1><%=line['event']%></h1>
  <% end %>
  </section>
  <section class = "padding"></section>
  </section>
  <div class = "upperbar">
    <%= form_with model: SummonedMinion.new do |form| %>
      <%= form.hidden_field :owner, value: "#{@current_player.name}" %>
      <% @current_player.available_minions.each do |minion|%>
        <%= form.radio_button :minion_type, "#{minion}" %>
        <%= form.label :minion_type, "#{minion}" %>
      <% end %>
      <%= form.label :x_position, "Position X,Y" %>
      <%= form.number_field :x_position, in: 0..@board.upper_limit, step: 1 %>
      <%= form.number_field :y_position, in: 0..@board.upper_limit, step: 1 %>
      <%= form.submit "submit"%>
    <% end %>
  </div>

  <div class = "upperbar">
    <% @current_player.db_minions.each do |minion|%>
      <%= form_with model: minion do |form| %>
        <%= form.hidden_field :owner, value: "#{@current_player.name}" %>
        <%= form.label :x_position, "Position X,Y for #{minion.minion_type} at" %>
        <%= form.number_field :x_position, in: 0..@board.upper_limit, step: 1 %>
        <%= form.number_field :y_position, in: 0..@board.upper_limit, step: 1 %>
        <%= form.submit "submit"%>
      <% end %>
    <% end %>
  </div>

</body>



